/* pc.css */
.container {
  /* outline: 1px solid red; */
  max-width: 1200px; /* 가변 최대 1200px */
  margin: 0 auto;
}

#main_header > .container{
  position: relative;
  font-family: 'Belleza', sans-serif; 
}
#main_header > .container > h1 {
  position: relative;
  left: 20px; top: 15px;
}
#main_header > .container #main_gnb {
  position: absolute;
  right: 250px; top: 30px;
}
#main_header > .container #main_gnb li {
  display: inline-block;
  margin-left: 1em; margin-right: 1em;
}
#main_header > .container #util {
  position: absolute;
  right: 0; top: 30px;
}
#main_header > .container #util li {
  display: inline-block;
  margin-left: 1em; margin-right: 1em;
}
#main_gnb, #util { 
  font-size: 15px;
  text-transform: uppercase;
}

/* gnb hover */
#main_gnb a:hover, #util a:hover {
  color: rgba(255,255,255, 0.7);
} 

/* 토글 메뉴, 장바구니 아이콘 비표시 */
#toggle, #util i.fa-shopping-bag { display: none;}

/* 신제품 영역 */
#new_product {

}
#new_product .product_list {
  overflow: hidden;
  /* outline: 1px solid red; */
}
#new_product .product_list > li {
  /* width: 386.66px; */
  width: 32.33%;
  float: left;
  /* margin-right: 20px; */
  margin-right: 1.5%;
}
#new_product .product_list > li img {
  width: 100%;
}
#new_product .product_list > li:last-child {
  margin-right: 0;
}
#new_product .product_list > li {
  display: block;
}
#new_product .product_list .title {
  display: block;
}
#new_product .product_list .price {
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  margin-right: 1em;
}
#new_product .product_list .origin_price {

}

/* news 섹션 */
#news {}
#news .container {
  overflow: hidden;
  /* outline: 1px solid red; */
}
#news article {
  width: 49.25%;
  float: left;
  margin-right: 1.5%;
}
#news article:last-child {
  margin-right: 0;
}

/*하단*/
#ftWrap {
  padding: 80px 0 0;
}
#ftWrap {
  padding-top: 0;
}
#footer {
  width: 100%;
}
#footer {
  margin-top: 80px;
}
#header, #layerWrap, #contentWrap, #ftLink .link, #footer {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#footer .section {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  height: 48px;
}
.cboth {
  clear: both;
}
.cboth:after {
  content: " ";
  display: block;
  clear: both;
}
#footer .section ul {
  width: 1260px;
  margin: 0 auto;
}
#footer .section ul li {
  float: left;
}
li {
  list-style: none;
}
#footer .section ul li:first-child a {
  margin-left: 5px !important;
}
#footer .section ul li a {
  font-size: 11px;
  color: #777;
  display: block;
  height: 48px;
  line-height: 48px;
  margin: 0px 20px;
  font-family: 'Roboto','Nanum Gothic',sans-serif;
}
#footer .section1 {
  width: 1260px;
  margin: 50px auto;
}
.cboth {
  clear: both;
}
#footer .section1 .ft_info01 {
  float: left;
  min-height: 220px;
  border-right: 1px solid #e9e9e9;
  padding-right: 58px;
  margin-right: 58px;
}
#footer .section1 .ft_info01 .ft_logo {
  text-align: left;
  margin-bottom: 32px;
  min-height: 46px;
}
#footer .section1 .ft_info01 .ft_copy {
  font-size: 12px;
  color: #999;
  text-align: left;
  line-height: 19px;
}
#footer .section1 .ft_info02 {
  float: left;
  min-width: 220px;
  min-height: 129px;
}
#footer .section1 .ft_info02 .area01 {
  min-height: 129px;
  border-bottom: 1px solid #e9e9e9;
}
#footer .section1 .ft_info02 .ft_title02 {
  font-size: 12px;
  text-align: left;
  line-height: 12px;
  padding-top: 30px;
  color: #111;
  font-family: 'Roboto','Nanum Gothic',sans-serif;
}
#footer .section1 .ft_info02 .ft_copy2 {
  font-size: 12px;
  color: #777;
  text-align: left;
  line-height: 19px;
  padding-top: 10px;
  letter-spacing: -0.5px;
}
#footer .section1 .ft_info02 {
  float: left;
  min-width: 220px;
  min-height: 129px;
}
#footer .mrl48 {
  margin-left: 48px;
}
#footer .section1 .ft_info02 .area01 {
  min-height: 129px;
  border-bottom: 1px solid #e9e9e9;
}
#footer .section1 .ft_info02 .ft_title {
  font-size: 12px;
  text-align: left;
  line-height: 12px;
  color: #111;
  font-family: 'Roboto','Nanum Gothic',sans-serif;
}
#footer .section1 .ft_info02 .ft_copy {
  font-size: 11px;
  color: #999;
  text-align: left;
  line-height: 19px;
  padding-top: 10px;
}
#footer .section1 .ft_info02 .ft_title02 {
  font-size: 12px;
  text-align: left;
  line-height: 12px;
  padding-top: 30px;
  color: #111;
  font-family: 'Roboto','Nanum Gothic',sans-serif;
}
#footer .section1 .ft_info02 .ft_copy2 {
  font-size: 12px;
  color: #777;
  text-align: left;
  line-height: 19px;
  padding-top: 10px;
  letter-spacing: -0.5px;
}
#footer .section1 .ft_info02 .ft_sns a:first-child {
  padding-left: 0px;
}
#footer .section1 .ft_info02 .ft_sns a {
  float: left;
  padding-left: 7px;
}
#footer .section1 .ft_info02 {
  float: left;
  min-width: 220px;
  min-height: 129px;
}
#footer .mrl48 {
  margin-left: 48px;
}
#footer .section1 .ft_info02 .ft_title {
  font-size: 12px;
  text-align: left;
  line-height: 12px;
  color: #111;
  font-family: 'Roboto','Nanum Gothic',sans-serif;
}
#footer .section1 .ft_info02 .ft_comm {
  float: left;
  margin-top: 14px;
}
#footer .section1 .ft_info02 .ft_comm a {
  display: block;
  width: 174px;
  height: 28px;
  text-align: left;
  border: 1px solid #dedede;
  font-size: 11px;
  line-height: 28px;
  color: #777;
  text-indent: 10px;
  margin-bottom: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#header, #layerWrap, #contentWrap, #ftLink .link, #footer {
  width: 100%;
}

